h1{
    text-align: center;
    font-size: 30px;
    color:brown;
    
    
    background-color: black;

}
body{
    background-color: burlywood;

}

footer{
    text-align: center;
    

}
div:nth-child(2){
    display: grid;
    place-items: center;
}
div:nth-child(3){
    float: center;

}
